<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
<script type="text/javascript"
        src="https://checkout.epayco.co/checkout.js">
</script>
<script type="text/javascript"><!--
  document.addEventListener("contextmenu", function(e){
    e.preventDefault();
  }, false);
  $(document).keydown(function (event) {
    if (event.keyCode == 123) {
      return false;
    } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
      return false;
    }
  });
$('#button-confirm').on('click', function() {
    var handler = ePayco.checkout.configure({
      key: "{{ p_public_key }}",
      test: "{{ p_test_mode }}"
    });
    var data={
      name: "{{ p_itemname }}",
      description: "{{ p_itemname }}",
      invoice: "{{ p_id_invoice }}",
      currency: "{{ p_currency_code }}",
      amount: "{{ p_amount }}",
      tax_base: "{{ p_amount_base }}",
      tax: "{{ p_tax }}",
      country: "{{ p_shiping_country }}",
      lang: "{{ p_lang }}",
      external: "{{ p_payco_checkout_type }}",
      extra1: "{{ p_id_invoice }}",
      confirmation: "{{ p_url_confirmation }}",
      response: "{{ p_url_response }}",
      name_billing: "{{ p_billing_first_name ~' '~ p_billing_last_name }}",
      address_billing: "{{ p_billing_address }}",
      mobilephone_billing: "{{ p_billing_phone }}"
    }

  $.ajax({
		url: 'index.php?route=extension/payment/payco/confirm',
		dataType: 'json',
		beforeSend: function() {
			$('#button-confirm').button('loading');
		},
		complete: function() {
			$('#button-confirm').button('reset');
		},
		success: function(json) {
        handler.open(data)
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});
//--></script>
